* {
  box-sizing: border-box !important;
}

#msgList {
  list-style-type: none;
  padding: 0;
}

.msgItem {
  padding: 1rem;
  display: flex;
}

.msgItem:nth-child(odd) {
  background: #eee;
}

.msgItem--welcome {
  background: orange !important;
}

/* Namespace List */
#namespaceList,
#channelList {
  list-style-type: none;
  color: white;
}

.nsItem,
.channelItem {
  padding: 0.5rem 0;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.nsItem:hover {
  font-weight: bold;
}
